.vertical-center {
  /* If the browser dosen't support 'vh' i have % so for it to fall back on  */
  min-height: 85%;
  /* This defins how tall the div should be  */
  min-height: 85vh;
  /* I use this to center my content */
  display: flex;
  align-items: center;
}

/* The '*' targets everything even if it dosent have a class */
* {
  /* Bootstrap has a small defult font so i change it with here */
  font-size: 20px;
  line-height: 1.428;
  /* This is my font */
  font-family: "Poppins", sans-serif;
}

/* This gives my nav text a blue color and i add a transition to it to make it smooth  */
.nav-text:hover {
  color: blue;
  transition: color 500ms;
}

/* This is creates a underline on the current page  */
.nav-link[aria-current="page"] {
  text-decoration: underline #00000015 0.15rem;
  text-underline-offset: 0.5rem;
}

/* I make the font size for my intro title very big and give a line hight to bring the text closer to each line */
.intro-title {
  font-size: 7rem;
  line-height: 1;
  font-weight: bold;
}

/* Here i want my picture to take up 100% of the columns height */
.me-img {
  min-height: 100%;
  min-height: 100vh;
}

/* Here i define how large my Github and LinkedIn icons should be  */
.socials {
  max-width: 5%;
  max-width: 5vw;
}

/* Here i define how large my project imgs should be */
.project-img {
  min-height: 30%;
  min-height: 30vh;
}

/* Some style for my contact title  */
.contact-title {
  font-size: 4rem;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* I remove the border then add back the top and bottom  */
.form-control {
  border: none;
  border-top: 1px solid rgba(149, 149, 236, 0.512);
  border-bottom: 1px solid rgba(149, 149, 236, 0.512);
}

/* This defines my about containers height and center it with flexbox */
.about-main {
  min-height: 60%;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

/* Some style for my about title  */
.about-title {
  font-size: 85px;
  margin-top: 1rem;
}

/* I change the font, line height of the sentences and add the same border style as i had for the form  */
.about-description {
  font-size: 30px;
  line-height: 1.45;
  border-top: 1px solid rgba(149, 149, 236, 0.512);
  border-bottom: 1px solid rgba(149, 149, 236, 0.512);
  border-radius: 10px;
}

/* All code bellow is for the mobile version of my site */
/* It's for the font-size, line-hights and img sizes. 
I need to chage them since i alterd bootstraps defult values */
@media only screen and (max-width: 950px) {
  .socials {
    width: 8%;
    width: 8vw;
  }
  .contact-title {
    font-size: 3rem;
    line-height: 1;
  }

  .me-img {
    min-height: 50%;
    min-height: 50vh;
  }

  .about-description {
    font-size: 25px;
  }
}

@media only screen and (max-width: 750px) {
  .intro-title {
    font-size: 5rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 650px) {
  .intro-title {
    font-size: 3rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 450px) {
  .about-description {
    font-size: 23px;
  }
}

@media only screen and (max-width: 345px) {
  .about-description {
    font-size: 21px;
  }
}
