.vertical-center {
  /* If the browser dosen't support 'vh' i have % so for it to fall back on  */
  min-height: 85%;
  /* This defins how tall the div should be  */
  min-height: 85vh;
  /* I use this to center my content */
  display: flex;
  align-items: center;
  background-image: url(/bg-min.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* The '*' targets everything even if it dosent have a class */
* {
  /* Bootstrap has a small defult font so i change it here */
  font-size: 20px;
  line-height: 1.428;
  /* This is my font */
  font-family: "Poppins", sans-serif;
  cursor: none;
}

/* I removed the global cursor since ive made a custom one */
*:hover {
  cursor: none;
}

/* This removes my scroll bar so i can replace it with my own custom progress one */
body::-webkit-scrollbar {
  display: none;
}

/* This is my header for the coustom progressbar witch positions it fixed at det topp*/
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}

/* The progress container of the coustom bar */
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}

/* The progress bar */
.progress-bar {
  height: 8px;
  background-image: linear-gradient(to right, blue, rgb(157, 0, 255));
  width: 0%;
}

/* These are the colors for my arrow animation on the ladning page */
:root {
  --dark-color: #6610f2;
  --light-color: #0d6efd;
}

/* This targets my two dark triangles and give them a color */
#darkTriangleGroup {
  fill: var(--dark-color);
}

/* This targets my one light triangl and give them a color */
#lightTriangleGroup {
  fill: var(--light-color);
}

/* This gives my triangels and text a smooth animation when fading in and out */
#darkTriangle2,
#darkTriangle1,
#lightTriangle,
#buttonText {
  transition: all 0.5s ease;
}

/* This will move one of the dark triangles off screen until i need it */
#darkTriangle1 {
  transform: translateX(-100%);
}

/* This moves my trangle right by 40% then fading out with the opacity value set to 0 */
svg:hover #darkTriangle2 {
  transform: translateX(40%);
  opacity: 0;
}

/* This brings my triangle that i hid from -100% moving from left to write until it is at it's orignal postition  */
svg:hover #darkTriangle1 {
  transform: translateX(0%);
}

/* This moves my light triangle right 20% */
svg:hover #lightTriangle {
  transform: translateX(20%);
}

/* This gives my nav text a blue color and i add a transition to it to make it smooth  */
.nav-text:hover {
  color: blue;
  transition: color 500ms;
}

/* This is creates a underline on the current page  */
.nav-link[aria-current="page"] {
  text-decoration: underline #00000015 0.15rem;
  text-underline-offset: 0.5rem;
}

/* This is the style for my inner smaller cursor */
.inner-cursor {
  z-index: 9999;
  position: fixed;
  left: -50px;
  width: 15px;
  height: 15px;
  transform: translate(-50%, -50%);
  background-color: rgb(91, 109, 208);
  border-radius: 50%;
  pointer-events: none;
  transition: width 500ms, height 500ms;
  opacity: 1;
}

/* This is a class to change the opacity witch i target in my javascript */
.inner-cursor.opacity {
  opacity: 0;
}

/* This is a class shrinks my outer cursor and turns it to a nutral color  */
.outer-cursor.shrink {
  width: 35px;
  height: 35px;
  transition: width 500ms, height 500ms;
  mix-blend-mode: luminosity;
  background-color: black;
  opacity: 0.5;
}

/* This is my outer cursor */
.outer-cursor {
  z-index: 999;
  position: fixed;
  left: -50px;
  width: 45px;
  height: 45px;
  transform: translate(-50%, -50%);
  background-color: rgb(184, 99, 199);
  opacity: 0.5;
  border-radius: 50%;
  pointer-events: none;

  transition: width 100ms, height 100ms;
}

/* I make the font size for my intro title very big and give a line hight to bring the text closer to each line */
.intro-title {
  font-size: 7rem;
  line-height: 1;
  font-weight: bold;
}

/* Here i want my picture to take up 100% of the columns height */
.me-img {
  height: 100%;
  height: 100svh;
}

.recentWorkCards {
  border-radius: 10px;
  background-color: white;
  padding: 20px;
  padding-bottom: 35px;
}

.recentWorkTitlte {
  font-weight: bold;
  font-size: 65px;
}

.recentWorkImg {
  width: 20vw;
}

.recentWorkDescription {
  margin-bottom: 35px;
}

.recentWorkButtons {
  background-color: #3a37cfdc;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  border: solid 3px rgba(137, 43, 226, 0);
  border-radius: 50px;
  text-decoration: none;
  color: white;
}

/* Here i define how large my Github and LinkedIn icons should be  */
.socials {
  max-width: 5%;
  max-width: 5vw;
}

/* Here i define how large my project imgs should be */
.project-img {
  height: 30%;
  height: 30vh;
}

/* Some style for my contact title  */
.contact-title {
  font-size: 4rem;
  line-height: 1;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* I remove the border then add back the top and bottom  */
.form-control {
  border: none;
  border-top: 1px solid rgba(149, 149, 236, 0.512);
  border-bottom: 1px solid rgba(149, 149, 236, 0.512);
}

/* This defines my about containers height and center it with flexbox */
.about-main {
  min-height: 60%;
  min-height: 60vh;
  display: flex;
  align-items: center;
}

/* Some style for my about title  */
.about-title {
  font-size: 85px;
  margin-top: 1rem;
}

/* I change the font, line height of the sentences and add the same border style as i had for the form  */
.about-description {
  font-size: 30px;
  line-height: 1.45;
  border-top: 1px solid rgba(149, 149, 236, 0.512);
  border-bottom: 1px solid rgba(149, 149, 236, 0.512);
  border-radius: 10px;
}

/* All code bellow is for the mobile version of my site */
/* It's for the font-size, line-hights and img sizes. 
I need to chage them since i alterd bootstraps defult values */
@media only screen and (max-width: 950px) {
  .socials {
    width: 8%;
    width: 8vw;
  }
  .contact-title {
    font-size: 3rem;
    line-height: 1;
  }

  .me-img {
    min-height: 50%;
    min-height: 50vh;
  }

  .about-description {
    font-size: 25px;
  }

  .recentWorkImg {
    width: 50vw;
  }
}

@media only screen and (max-width: 750px) {
  .intro-title {
    font-size: 5rem;
    line-height: 1;
  }

  .me-img {
    height: 60%;
    height: 60svh;
  }
}

@media only screen and (max-width: 650px) {
  .intro-title {
    font-size: 3rem;
    line-height: 1;
  }
}

@media only screen and (max-width: 450px) {
  .me-img {
    height: 60%;
    height: 60svh;
  }

  .project-img {
    height: 25vh;
  }

  .about-description {
    font-size: 23px;
  }
}

@media only screen and (max-width: 345px) {
  .about-description {
    font-size: 21px;
  }

  .me-img {
    height: 40%;
    height: 40svh;
  }
}
